:root {
  --Michroma-font: 'Michroma', sans-serif;
  --Roboto-font: 'Roboto', sans-serif;
  --Open-Sans-font: 'Open Sans', sans-serif;

  --white-color: #ffffff;
  --black-color: #000000;

  --landing-width: 1440px;

  --top-layer: 1000;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-holder {
  width: 100%;
  background-color: var(--black-color);
  color: var(--white-color);
  font-family: var(--Michroma-font);
}

.page-holder__landing {
  width: 100%;
  max-width: var(--landing-width);
  background-color: transparent;
  color: inherit;
  margin: 0 auto;
}


/* block AMOUNT-CONTROLLER */

.amount-controller {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount-controller__increase-amount {
  background-image: url(img/Increase_amount.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.amount-controller__decrease-amount {
  background-image: url(img/Decrease_amount.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.amount-controller__current-amount {
  margin: 0 14px 0 10px;
  font-family: var(--Michroma-font);
  font-size: 45.46px;
  font-weight: 400;
}


/* block TITLE */

.title {
  
}

.title-item {
  width: 521px;
  height: 93px;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.black-word {
  background-image: url(img/title-black-word.png);
}

.white-word {
  background-image: url(img/title-white-word.png);
}


/* block product-card */

.product-card {
  width: 570px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-card__picture {
  width: 315px;
  height: 200px;
  cursor: pointer;
}

.product-card__info {
  width: 100%;
  max-width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.product-card__name {
  font-family: var(--Michroma-font);
  font-size: 41px;
  font-weight: 400;
  line-height: 1;
  cursor: pointer;
}

.product-card__statistics {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.product-card__reviews {
  font-family: ver(--Michroma-font);
  font-size: 16.66px;
  font-weight: 400;
  cursor: pointer;
}


.product-card--formated {
  width: 288px;
  height: 535px;
  position: relative;
  display: block;
}

.product-card__picture--formated {
  width: 288px;
  height: 389px;
  cursor: pointer;
}

.product-card__info--formated {
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  left: 25px;
  bottom: 15px;
}


.product-card__info--second-slide {
  width: 100%;
  max-width: 400px;
  height: 150px;
  position: absolute;
  left: 540px;
  bottom: 115px;
}

.product-card__statistics--second-slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-card__reviews--second-slide {
  margin-left: 20px;
}


/* block FIVE-STAR-RATING */

.five-star-rating {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.five-star-rating__star {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url(img/white-star.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10px;
}

.five-star-rating__star:first-child {
  margin-left: 0;
}

/* block WHITE-FRAME */

.white-frame {
  min-width: 52px;
  min-height: 57px;
  display: inline-block;
  background-color: transparent;
  border: 4px solid var(--white-color);
}

.white-frame--padding {
  padding: 19px 45px;
}


/* block CUSTOMER-REVIEW*/

.customer-review {
  width: 100%;
  max-width: 815px;
  display: block;
}

.customer-review__customer-name {
  font-family: var(--Michroma-font);
  font-weight: 400;
  font-size: 33.33px;
  color: var(--white-color);
  margin-bottom: 20px;
}

.customer-review__publish-time {
  font-family: var(--Michroma-font);
  font-weight: 400;
  font-size: 16.6px;
  color: var(--white-color);
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  margin-bottom: 25px;
}

.customer-review__message {
  font-family: var(--Roboto-font);
  font-weight: 300;
  font-size: 20.83px;
  color: var(--white-color);
  line-height: 1em;
  max-height: 2em;
  overflow: hidden;
}


/* block COMMON-TITLE */

.common-title {
  font-family: var(--Michroma-font);
  font-weight: 400;
  font-size: 66.67px;
  font-style: italic;
  color: var(--white-color);
  display: inline-block;
  text-align: center;
}

/* SECOND-SLIDE */

.second-slide {
  width: 100%;
  height: 795px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.second-slide__inner {
  width: 100%;
  max-width: 1315px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 95px;
}

.second-slide__pictures {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  direction: rtl;
  overflow: hidden;
}

.second-slide__one-picture {
  width: 387px;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.second-slide__content {
  width: 570px;
  height: 535px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
}

.second-slide__price-and-amount-controller {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second-slide__amount-controller {
  align-self: flex-end;
}

.second-slide__price {
  font-family: var(--Michroma-font);
  font-weight: 400;
  font-size: 84.4px;
  color: var(--white-color);
  margin-right: 50px;
}

.second-slide__info {
  width: 100%;
  font-family: var(--Roboto-font);
  font-weight: 300;
  font-size: 20.83px;
  color: var(--white-color);
  text-align: end;
  margin-top: 50px;
}

.second-slide__add-to-cart-button {
  font-family: var(--Michroma-font);
  font-weight: 400;
  font-size: 20.87px;
  color: var(--white-color);
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* THIRD-SLIDE */

.third-slide {
  width: 100%;
  height: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.third-slide__inner {
  width: 100%;
  max-width: 1060px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.third-slide__product-cards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* FOURTH-SLIDE */ 

.fourth-slide {
  width: 100%;
  height: 875px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-color: transparent;
  background-image: url(img/slide_4_background_image.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
}

.fourth-slide__inner {
  width: 100%;
  max-width: 1060px;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.fourth-slide__first-row {
  width: 100%;
  height: 190px;
}

.fourth-slide__description {
  display: inline-block;
  font-family: var(--Michroma-font);
  font-weight: 400;
  font-size: 40.95px;
  line-height: 50px;
  color: var(--white-color);
  text-decoration: underline;
  text-decoration-thickness: 3px;
  width: 100%;
  max-width: 210px;
  cursor: pointer;
}

.fourth-slide__second-row {
  width: 100%;
  height: 250px;
  text-align: end;
}

.fourth-slide__discount {
  font-family: var(--Michroma-font);
  font-weight: 400;
  font-size: 77.43px;
  color: var(--white-color);
  line-height: 75px;
}

.fourth-slide__percentage {
  font-family: var(--Open-Sans-font);
  font-weight: inherit;
  font-size: inherit;
  color: var(--white-color);
  line-height: inherit;
}

.fourth-slide__third-row {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.fourth-slide__info-item {
  font-family: var(--Michroma-font);
  font-weight: 400;
  font-size: 33.42px;
  color: var(--white-color);
  line-height: 1;
  text-align: center;
  max-width: 335px;
}

.fourth-slide__info-item:last-child {
  padding: 19px 30px;
}

/* FIFTH-SLIDE */

.fifth-slide {
  width: 100%;
  height: 875px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: relative;
}

.fifth-slide__inner {
  width: 1200px;
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  background-color: inherit;
  flex-wrap: wrap;
}

/* SIXTH-SLIDE */

.sixth-slide {
  width: 100%;
  height: 897px;
  background-image: url(img/slide_6_background_image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.title--position-sixth-slide {
  top: 160px;
  left: 125px;
  position: absolute;
  z-index: var(--top-layer);
}

.sixth-slide__inner {
  width: 450px;
  height: 360px;
  overflow: hidden;
  position: absolute;
  z-index: var(--top-layer);
  top: 50%;
  right: 120px;
}

.sixth-slide__new-beer-asterisk {
  width: 185px;
  height: 185px;
  background-image: url(img/new-beer-asterisk.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sixth-slide__paragraph {
  margin-top: 30px;
}

/* SEVENTH-SLIDE */

.seventh-slide {
  width: 100%;
  height: 875px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.seventh-slide__inner {
  width: 100%;
  max-width: 815px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.seventh-slide__reviews {
  width: 100%;
}

.seventh-slide__line {
  display: block;
  border: 2px solid #c4c4c4;
  background-color: transparent;
  margin: 40px 0;
}

/* EIGHTH-SLIDE */ 

.eighth-slide {
  width: 100%;
  height: 900px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.eighth-slide__inner {
  width: 100%;
  max-width: 785px;
  height: 630px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.eighth-slide__form {
  margin-top: 90px;
  width: 100%;
  height: 495px;
  color: var(--white-color);
}

.eighth-slide__input {
  width: 100%;
  display: block;
  font-family: var(--Michroma-font);
  font-weight: 400;
  font-size: 20.91px;
  color: var(--white-color);
  margin-bottom: 25px;
}

.eighth-slide__textarea {
  width: 100%;
  display: block;
  font-family: var(--Michroma-font);
  font-weight: 400;
  font-size: 20.91px;
  color: var(--white-color);
  margin-bottom: 25px;
}

.eighth-slide__submit-button {
  width: 100%;
  display: block;
  background-color: var(--white-color);
  font-family: var(--Michroma-font);
  font-weight: 400;
  font-size: 20.91px;
  color: var(--black-color);
  cursor: pointer;
}

::placeholder {
  font-family: var(--Michroma-font);
  font-weight: 400;
  font-size: 20.91px;
  color: var(--white-color);
}